{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">New Import</h1>
</div>

<form method="POST" action="" enctype="multipart/form-data">
  <p>
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="file" id="myInput" aria-describedby="myInput">
      <label class="custom-file-label" for="myInput">Choose file</label>
    </div>
  </p>
  <!-- <div class="input-group-append">
    <button type="submit" class="btn btn-outline-secondary" type="button" id="myInput">Button</button>
  </div> -->
  <p><input type="submit" class="btn btn-success btn-sm" value="Upload"></p>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}
