{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Available Files</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-primary" href="{{ url_for('new_import') }}">
      Import file
    </a>
  </div>
</div>


{% for table in tables %}
<div class="row mb-3">
  <div class="col-md-9 themed-grid-col">
    <a href="{{ url_for('view_table', table_name=table[0]) }}" class="alert-link">{{table[0]}}</a>
  </div>
  <div class="col-md-1 themed-grid-col" style="text-align:center">
    <span data-feather="edit"></span>
  </div>
  <div class="col-md-1 themed-grid-col" style="text-align:center">
    <a href="{{ url_for('download_table', table_name=table[0]) }}" class="alert-link">
      <span data-feather="download"></span>
    </a>
  </div>
  <div class="col-md-1 themed-grid-col" style="text-align:center">
    <a href="{{ url_for('delete_one_table', table_name=table[0]) }}" class="alert-link">
      <span data-feather="trash"></span>
    </a>
  </div>
</div>
  {% endfor %}

{% endblock %}
